 .footer2{
    display: flex;

    /* flex-direction: row; */
    /* gap: 200px; */
    /* justify-content: center; */
    margin: 0 auto;
    /* height: 100vh; */

    justify-content:space-evenly;


    border-top: 2px solid yellow;
    background-color: black; 

    text-align: center;
    align-items: center;
    .copyright{
        width: 48%;
    }
    h4{
        font-size: 25px;
        color: #e2e3dd;
        /* padding-top:30px; */
        /* margin-right: 80px; */
    }
    .c{
        position: relative;
        margin: 2px;
        width: 6%;
        top: 5px;
    }
    strong{
        color: #e2e3dd;
    }
    img{
        width: 15%;
    }
    .merkers{
        width: 50%;
    }
    .footer-contacto{
    }
    .footer-contacto {
        width: 50%;
        img{
            width: 15%;
            position: relative;
            /* left: 10px; */
        }
    }
} 
@media screen and (max-width: 480px){
    .footer2{
        /* display: grid; */
        /* justify-content:space-around; */
        flex-direction: column;
        .copyright{
            width: 100%;
            margin: 0 auto;
        }
        h4{
            font-size: 30px;
            text-align: center;
            line-height: normal;
        }
    }
}