
.proyectos-container{
  #card_container1 {
     margin-top:20px;
    }
    .title{
      width: 23%;
        font-size: 70px;
        border-bottom: 2px solid yellow;
    } 
    
  }
  @media screen and (max-width: 480px){
    .proyectos-container{
      #card_container1 {
        margin-top:0px;
        margin: 20px;
       }
       .title{
        width: 65%;
        font-size: 70px;
        border-bottom: 2px solid yellow;
      } 
      h2{
        font-size: 3rem;
        text-align:left;
      }
    } 
  }